{% extends 'flatpages/default.html' %}

{% load censor %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
   <h1>Все новости на сегодня</h1>
    <h3>{{ news|length }}</h3>
   <hr>
   {% if NW %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>

           {% for news in NW %}
           <tr>
               <td>{{ news.name }}</td>
               <td>{{ news.date|date:'d M Y'  }}</td>
               <td>{{ news.text|truncatewords: 20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}